name: Release

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  release-build:
    name: Build the release
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write
      attestations: write

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          version: "latest"

      - name: Install the project
        run: uv sync --all-extras --group dev

      - name: Test code
        id: test
        run: uv run pytest

      - name: Package project
        id: build
        run: uv build -o dist/

      - name: Sign build artifacts
        id: sign
        if: github.ref_type == 'tag'
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
        with:
          subject-path: "dist/*"

      - name: Create release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        if: github.ref_type == 'tag'
        with:
          draft: true
          files: |
              dist/*

      - name: Upload build artifacts
        id: upload
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        with:
          name: release-dists
          retention-days: 1
          path: "dist/"


  pypi-publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: release-build
    if: github.ref_type == 'tag'

    permissions:
      id-token: write

    environment:
      name: pypi

    steps:
      - name: Retrieve release distributions
        id: download
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8
        with:
          name: release-dists
          path: dist/

      - name: Publish package distributions to PyPI
        id: publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          attestations: true
